<hr>
<script type="text/template" id="friend-item-tmpl">
{{_.each(friends, function(friend, i) { }}
		<li class="list-group-item">
			<div id="view-user-profile">
			<b>{{= friend.name}}</b>
			</div>
            <input id="user-id" type="hidden" value ="{{= friend.id}}">
			{{ if (friend.status == 0) { }}
				offline
			{{ } else if (friend.status == 1) { }}
				online
			{{ } }}
			<button class="btn btn-danger btn-sm float-right remove-friend" user-id="{{=friend.id}}">
				remove friend
			</button>
		</li>
{{ }) }}
</script>

<script type="text/template" id="friend-profile-tmpl">
{{= id}}
{{= nickname}}
{{ if (status == 0) { }}
	offline
{{ } else if (status == 1) { }}
	online
{{ } }}
</script>

<div id="tmp">
tmp
</div>


<div id="friends-app">
    ==My Friends==
    <div id="friends-list">
</div>

<hr>
<%= render 'users/search_bar' %>