
<div id="edit-profile-view">
</div>

<script type="text/template" id="edit-profile-tmpl">
<button type="button" id="close-my-profile" class="close" aria-label="Close">
      <span aria-hidden="true" class="float-right">&times;</span>
</button>
  <img src="{{=avatar_url}}" width ="190"/>
    <div class="container p-3">
    <form id="avatar-form" enctype="multipart/form-data">
        <label>Avatar</label>
        <input type="file" class="form-control-file avatar" id="avatar" accept="image/*">
        <button type="submit" class="btn btn-primary btn-sm">Change Avatar</button>
    </form>
    </div>
        Double click nickname to change it.
        <br><br>
        <small>Current nickname :</small>
        <div class="current-nickname-view">
          <label>{{=nickname }}</label>
        </div>
  <b>Two factor authentication</b>
  <br>

<div id="two-factor">
</div>

</script>

<script type="text/template" id="two-factor-tmpl">
<div id="two-factor-switch">
    {{ if (otp_required_for_login == true) { }}
      <p>Two factor authentication is enabled.</p>
      <button class="btn btn-outline-danger" id="disable-two-factor">Disable</button>
			{{= otp_qr_code }}
      <p class="text-center">
        If you cannot scan, please enter the following code manually: <code><%= current_user.otp_secret%></code>
      </p>
      <p> backup codes : 
      <ol class="otp_backup_codes">
			{{ _.each(otp_backup_codes, function(otp_backup_codes) { }}
			<li>{{= otp_backup_codes }}</li>
			{{ }) }}
			</ol>
      </p>
    {{ } else { }}
      <p>Two factor authentication is NOT enabled.</p>
      <button class="btn btn-outline-success" id="enable-two-factor">Enable</button>
    {{ } }}
  </div>
</script>