
<div id="edit-profile-view">
</div>

<script type="text/template" id="edit-profile-tmpl">

<button type="button" id="close-my-profile" class="close" aria-label="Close">
      <span aria-hidden="true" class="float-right">&times;</span>
</button>
  <img src="{{=avatar_url}}" width ="190"/>
    <div class="container p-3">
    <form id="avatar-form" enctype="multipart/form-data">
        <label>Avatar</label>
        <input type="file" class="form-control-file avatar" id="avatar" accept="image/*">
        <button type="submit" class="btn btn-primary btn-sm">Change Avatar</button>
    </form>
    </div>
        Double click nickname to change it.
        <br><br>
        <small>Current nickname :</small>
        <div class="current-nickname-view">
          <label>{{=nickname }}</label>
        </div>
        <br><b>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"button is-info" %>
        </b>

        <div class="card">
  <div class="card-header">
    Two factor authentication
  </div>
  <div class="card-body">
    <% if current_user.otp_required_for_login %>
      <p>Two factor authentication is enabled.</p>
      <p><%= link_to('Disable Two Factor Authentication', two_factor_settings_path, class: 'btn btn-danger', method: :put, data: {confirm: 'Are you sure you want to disable two factor authentication?'}) %></p>
    <% else %>
      <p>Two factor authentication is NOT enabled.</p>
      <p><%= link_to('Enable Two Factor Authentication', two_factor_settings_path, class: 'btn btn-primary', method: :put) %></p>
    <% end %>
  </div>
</div>
</script>