

<form class="form-inline" id="otp-form">
		<input class="form-control mr-sm-2"  placeholder="Enter OTP from your App" name="otp_attempt">
		<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Verify OTP</button>
</form>

<script src="//code.jquery.com/jquery.min.js"></script>
<script>

ft_ajax = function(url, data, method) {
	return new Promise((resolve, reject) => {
		$.ajax({
			url: url,
			type: method,
			data: data
		})
		.done(resolve)
		.fail(reject);
	})
}

$.ajaxPrefilter(function(options, originalOptions, jqXHR) {
  var token;
  options.xhrFields = {
    withCredentials: true
  };
  token = $('meta[name="csrf-token"]').attr('content');
  if (token) {
    return jqXHR.setRequestHeader('X-CSRF-Token', token);
  }
});

const f = $("#otp-form");
f.on("submit", async (e) => {
	e.preventDefault();
	const data = $(e.currentTarget).serialize();
	try {
		await ft_ajax(`/otp_auth/`, data, "POST");
		location.reload();
	} catch (error) {
		alert("Try Again");
	}
})
</script>

