<h1>Friends#index</h1>

<hr>
<script type="text/template" id="friend-item-tmpl">
<a href="/users/{{=id}}">
        {{=id}}
        {{=username}}
</a>
<input id="user-id" type="hidden" value ="{{=id}}">
<button id="remove-friend">Remove Friend</button>
</script>

<div id="friends-app">
    ==My Friends==
    <div id="friends-list">
</div>

<hr>
<%= render 'users/search_bar' %>
