
<div id="search-app">
  <label>username: <input id="username-input" type="text" class="form-control"></label>
  <button id="search" class="btn btn-info glyphicon glyphicon-search">Search</button>
  <ul id="search-user-list"></ul>
</div>

<script type="text/template" id="found-item-tmpl">
<a href="/users/{{= id}}">{{= username}} </a>
</script>