<h1>Users#index</h1>

<% @users.each do |user| %>
   <%= user.id %> <%= user.username %><br/>
    
<% end %>

=====Backbone=====

<script type="text/template" id="user-item-tmpl">
    <a href="/users/{{=id}}">
        {{=id}}
        {{=username}}
    </a>
</script>

<div id="users-app">
    <div class="users-list">
</div>